name: Playwright Worker Ubuntu

on:
  workflow_dispatch:

jobs:
  run-worker:
    runs-on: [Linux]

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Add dotnet tools to PATH
      run: echo "$HOME/.dotnet/tools" >> $GITHUB_PATH

    - name: Install Playwright CLI
      run: dotnet tool install --global Microsoft.Playwright.CLI

    - name: Restore
      run: dotnet restore SwatchBharatMission.Automation.Service/SwatchBharatMission.Automation.Service/SwatchBharatMission.Automation.Service.csproj

    - name: Install Playwright OS dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          ca-certificates \
          fonts-liberation \
          libnss3 \
          libatk1.0-0 \
          libatk-bridge2.0-0 \
          libx11-xcb1 \
          libxcomposite1 \
          libxdamage1 \
          libxrandr2 \
          libgbm1 \
          libpangocairo-1.0-0 \
          libcups2 \
          libasound2t64
  
      # 4️⃣ Install PowerShell (MANDATORY)
    - name: Install PowerShell
      run: |
          sudo snap install powershell --classic
          pwsh --version
  
    # 5️⃣ Restore & Build (Release)
    - name: Build project
      working-directory: SwatchBharatMission.Automation.Service/SwatchBharatMission.Automation.Service
      run: |
        dotnet restore
        dotnet build -c Release

    # 6️⃣ Install Playwright browsers (THE KEY STEP)
    - name: Install Playwright Chromium
      working-directory: SwatchBharatMission.Automation.Service/SwatchBharatMission.Automation.Service/bin/Release/net8.0
      run: |
        pwsh -NoProfile -ExecutionPolicy Bypass -File ./playwright.ps1 install chromium

    - name: Locate Playwright browsers
      run: |
        echo "Playwright cache:"
        ls -R /home/runner/.cache/ms-playwright || true
        
    - name: List Playwright browser folder
      run: |
        echo "Current directory:"
        pwd
    
        echo "Listing bin/Release/net8.0:"
        ls -la SwatchBharatMission.Automation.Service/SwatchBharatMission.Automation.Service/bin/Release/net8.0 || true
    
        echo "Listing .playwright:"
        ls -la SwatchBharatMission.Automation.Service/SwatchBharatMission.Automation.Service/bin/Release/net8.0/.playwright || true
    
        echo "Listing local browsers:"
        ls -la SwatchBharatMission.Automation.Service/SwatchBharatMission.Automation.Service/bin/Release/net8.0/.playwright/package/.local-browsers || true
    - name: Run Worker
      run: dotnet run --configuration Release --project SwatchBharatMission.Automation.Service/SwatchBharatMission.Automation.Service/SwatchBharatMission.Automation.Service.csproj
